<h1>Checkout</h1>
<% if @result && @result[:line_items]&.any? %>
    <div>
        <% @result[:line_items].each do |line_item| %>
            <p><%= line_item[:product_code] %> X <%= line_item[:quantity] %> @ <%= line_item[:price] %> = <%= (line_item[:total] / 100.0).round(2) %></p>
        <% end %>
    </div>
    <p>Total price: € <%= (@result[:total_price_cents] / 100.0).round(2) %></p>
<% else %>
    <p>No items in the basket</p>
<% end %>

<%= link_to "Back to checkout", new_checkout_path %>
